# Notification Service Configuration
APP_NAME=notification-service
ENVIRONMENT=development
PORT=8003

# Email / SMS Provider Mock Credentials
SMTP_HOST=smtp.mailtrap.io
SMTP_PORT=2525
SMTP_USER=mock_smtp_user
SMTP_PASSWORD=mock_smtp_password